<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.education.mapper.RecordMapper">
    <select id="queryRecordList" resultType="record">
        select * from record
    </select>
    <select id="queryForType" parameterType="map" resultType="record">
        select * from record where type = #{type} limit ${(page - 1) * 30} , 30
    </select>
    <select id="queryForRecommend" parameterType="map" resultType="record">
        select * from record where type = #{recommend} limit ${(page - 1) * 30} , 30
    </select>
</mapper>